APP_ENV=development # development | production.
APP_URL=http://127.0.0.1:5001

DB_USER=
DB_PASS=
DB_HOST=
DB_PORT=
DB_NAME=

BULKY_BASE_URL=https://back-office.bulky.id/api
BULKY_API_TOKEN=
OLSERA_BASE_URL=https://api-open.olsera.co.id/api/open-api/v1
